h3 {
    color: white;
    margin: 0;
}

.friends {
    background-color: burlywood;
    padding: 15px;
}
.friendsRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.friend{
    display: grid;
}
.friend img{
    width: 50px;
}